<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.down.DownMapper">
	<resultMap type="com.example.demo.down.DownFile" id="file">
		<result property="num" column="num" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="writer_id" column="writer_id" />
		<result property="up_date" column="up_date" />
		<result property="hit" column="hit" />
	</resultMap>
	
	<insert id="addFile" parameterType="com.example.demo.down.DownFile">
		insert into down values(seq_down.nextval,#{path}, #{title}, #{content}, #{writer_id}, sysdate, 0)
	</insert>
	<select id="getFile" resultMap="file" parameterType="int">
		select * from down where num=#{num}
	</select>
	<select id="getAll" resultMap="file">
		select * from down
	</select>
	<update id="editFile" parameterType="com.example.demo.down.DownFile">
		update down set path=#{path}, title=#{title}, content=#{content}, up_date=sysdate where num=#{num}
	</update>
	<update id="editHit" parameterType="int">
		update down set hit=hit+1 where num=#{num}
	</update>
	<delete id="delFile" parameterType="int">
		delete from down where num=#{num}
	</delete>
</mapper>

 