<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.imgBoard.ImgMapper">
	<resultMap type="com.example.demo.imgBoard.ImgArticle" id="img">
		<result property="num" column="num" />
		<result property="path" column="path" />
		<result property="writer_id" column="writer_id" />
		<result property="title" column="title" />
	</resultMap>
	
	<insert id="insert" parameterType="com.example.demo.imgBoard.ImgArticle">
		insert into img2 values(seq_img2.nextval, #{path}, #{writer_id}, #{title})
	</insert>
	<select id="select" resultMap="img" parameterType="int">
		select * from img2 where num=#{num}
	</select>
	<select id="selectAll" resultMap="img">
		select * from img2 order by num
	</select>

	<delete id="delete" parameterType="int">
		delete img2 where num=#{num}
	</delete>
</mapper>
